.Books__modal {
    bottom: 0;
    left: 165px;
    position: fixed;
    right: 0;
    top: 60px;
    z-index: 1;
}
.Books__modal::before {
    background-color: #efefef;
    bottom: 0;
    content: '';
    left: 0;
    opacity: .7;
    position: absolute;
    right: 0;
    top: 0;
}
.Books__modal-content {
    background-color: #ffffff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin: 40px 0;
    max-width: 840px;
    overflow: auto;
    padding: 40px 5%;
    position: relative;
    text-align: center;
    width: 80%;
}
.Books__modal-header {
    margin-bottom: 24px;
}
.Books__modal-form {
    position: relative;
}
.Books__modal-loading {
    font-size: 0;
}
.Books__modal-loading::before {
    background-color: #ffffff;
    bottom: 0;
    content: '';
    opacity: .8;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.Books__modal-loading::after {
    animation: loading 1.2s linear infinite;
    border: 6px solid #b0b9c1;
    border-color: #b0b9c1 transparent #b0b9c1 transparent;
    border-radius: 50%;
    content: '';
    display: block;
    height: 64px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
}
.Books__modal-close {
    height: 46px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: background-color .3s;
    width: 46px;
}
.Books__modal-close::before,
.Books__modal-close::after {
    background-color: #202124;
    content: '';
    height: 2px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: background-color .3s;
    width: 20px;
}
.Books__modal-close::after {
    transform: translate(-50%, -50%) rotate(135deg);
}
