* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  margin: 0;
  font-weight: 700;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  width: 100%;
}
small {
  display: block;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

input {
  /*reset*/
  border: none;
  padding: 8px 4px;
  background-color: transparent;
  border-bottom: 2px solid #213c60;
  font-size: 20px;
  width: 100%;
  margin-bottom: 20px;
}
input:focus {
  outline: 0;
}
label {
  display: block;
  font-size: 14px;
}
textarea {
  font-family: "Noto Sans Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  resize: none;
  width: 100%;
}

/* Estilos comunes */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Overrides */
.ReactModal__Body--open {
  overflow: hidden;
}

/* AgoraStyles  */

/* paddings */
.a-p-16 {
  padding: 16px;
}

/* flex */
.a-flex {
  display: flex;
}
.a-flex-row {
  flex-direction: row;
}
.a-flex-column {
  flex-direction: column;
}
.a-flex-sBetween {
  justify-content: space-between;
}
.a-flex-center {
  justify-content: center;
}
.a-flex-basis-10 {
  flex-basis: 10%;
}
.a-flex-basis-15 {
  flex-basis: 15%;
}
.a-flex-basis-25 {
  flex-basis: 25%;
}
.a-flex-basis-50 {
  flex-basis: 50%;
}
.a-flex-basis-100 {
  flex-basis: 100%;
}
.a-flex-shrink-1 {
  flex-shrink: 1;
}
.a-flex-grow-1 {
  flex-grow: 1;
}
.a-flex-align-self-center {
  align-self: center;
}
.a-flex-align-item {
  align-items: center;
}

/* buttons */
.a-btn__icon {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  border: 2px solid transparent;
}

.a-btn__icon:hover {
  border: 2px solid #b0b9c1;
}

.a-cta {
  background-color: #5aa469;
  border: 2px solid #5aa469;
  border-radius: 6px;
  color: #ffffff;
  font-weight: 700;
  padding: 8px 10px;
  transition: background-color .3s, color .3s;
}
.a-cta:hover {
  background-color: #ffffff;
  color: #5aa469;
}

/* fonts */
.a-fs-18 {
  font-size: 18px;
}
.a-fs-24 {
  font-size: 24px;
}
.a-fs-36 {
  font-size: 36px;
}

/* line height  */

.a-lh-2 {
  line-height: 2;
}

/* font-weight  */

.a-fw-700 {
  font-weight: 700;
}

/* layout */
.a-block {
  display: block;
}

/* margin */

.a-margin-right-16 {
  margin-right: 16px;
}

/* colors */

.a-green {
  color: #5aa469;
}
.a-red {
  color: #d35d6e;
}
.a-yellow {
  color: #f8d49d;
}
.a-purple {
  color: #6c5070;
}
.a-grey {
  color: #efefef;
}
.a-blue {
  color: #0071ff;
}
.a-primary {
  color: #202124;
}

.a-bk-green {
  background-color: #5aa469;
}
.a-bk-red {
  background-color: #d35d6e;
}
.a-bk-yellow {
  background-color: #f8d49d;
}
.a-bk-purple {
  background-color: #6c5070;
}
.a-bk-grey {
  background-color: #efefef;
}
.a-bk-blue {
  background-color: #051e34;
}

/* Box Shadow */

.a-box-shadow {
  box-shadow: 0 4px 16px rgb(0 0 0 / 8%);
}

/* Animations */
.a-fade-in {
  opacity: 1;
  animation: fadeIn 0.5s linear;
}

/* Visually hidden */
.a-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5s;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5s;
  }
  100% {
    opacity: 0;
  }
}
