.Book {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background-color: white;
    margin-bottom: 24px;
    border: 1px solid #dadce0;
    border-left:6px solid #5aa469;
    border-radius: 8px;
    color: #202124;
}
.Book:hover,.Book:focus {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}
.Book__cover {
    width: 75px;
}
.Book__title {
    padding: 8px;
    min-width: 300px;
}
.Book__title small{
    font-weight: 400;
}
.Book__isbn {
    padding: 8px;
    color: rgb(165, 165, 165);
    text-align: center;
    width: 130px;
}
.Book__isbn strong{ 
    display: block;
    color: #000;
}

.Book__status {
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Book__counts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #213c60;
    border-radius: 9999em;
}

.Book--borrowed{
    border-color: #D35D6E
}
.Book__status::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 16px rgb(0 0 0 / 8%);
    margin-right: 8px;
    background-color: #5AA469;
}
.Book--borrowed .Book__status::before {
    background-color: #D35D6E;
}
.Book--borrowed-available .Book__status::before {
    background-color: #F8D49D;
}
.Book--borrowed-available {
    border-color: #F8D49D
}


@media all and (min-width: 768px) {
    .Book {
        flex-direction: row;
        justify-content: space-between;
    }
}
